@model IEnumerable<SimpleGrade.Models.SchoolClass>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Class</h1>
</div>
<hr />
<a class="nav-link text-dark" asp-action="CreateEdit">New Class</a>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Year</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>
        @{
            foreach(var schoolClass in Model){
            <tr>
                <td>@schoolClass.Name</td>
                <td>@schoolClass.Year</td>
               <td><a asp-action="CreateEdit" asp-route-id="@schoolClass.Id">Edit</a></td>
               <td><a asp-action="Delete" asp-route-id="@schoolClass.Id" class="btn-danger">Delete</a></td>
            </tr>
            }   
        }
    </tbody>
</table>